/*CSS Update Info*/

#zoneUpdateInfo {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    background-color: #00000080;
}

#zoneEleUpdate {
    display: flex;
    flex-direction: column;

    max-width: 75vw ;
    max-height: 75vh;

    padding: 1rem;

    background-color: white;

    border: #3367cd solid 1rem;
    border-radius: 1rem;
}

#zoneUpdateTexte {
    overflow-y: scroll;
    margin-bottom: 1rem;
}

.titleUpdate {color: black;}

.textCenter {text-align: center;}

/*CSS showUpdateBtn*/
#showUpdateBtn {
    position: absolute;

    top: 10px;
    left: 10px;

    margin: 0px;
    padding: 0.25rem;

    font-size: 0.5rem;
}

/*CSS CleanButt*/
#cleanBtn {
    position: absolute;

    top: 10px;
    right: 10px;

    margin: 0px;
    padding: 0.25rem;

    font-size: 0.5rem;
}

/*CSS Welcome*/
.welcomeBody {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px !important ;

    background-color: #3367cd;
}

.welcomeTitle {
    font-size: 2.5rem;
    margin-bottom: 1vh;
    border-bottom: white solid 0.5rem;
    border-radius: 0.5rem;
}

#zoneWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white solid 0.5rem;
    border-radius: 3rem;
    padding: 0.5rem;
    color: white;
}

#zoneSelectUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#zonePreSetUser {margin: 1vh 0vw;}

#menuSeparator {
    background-color: white ;
    width: 75% ;
    height: 0.5rem;
    margin : 1vh 0vw ;
    border-radius: 5px;
}

.separatorUpdate {
    background-color: black;
    margin: 0.5rem 12.5%;
    width: 75%;
    height: 0.5rem;
    border-radius: 5px;
}