/*---A trier---*/
/*---CSS par balise---*/
body {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-grow: 1;
}


textarea {
    min-width: 75vw;
    min-height: 1vh;
}

/*--CSS par ID--*/

    /*---Main---*/
#zoneTitleEditor {font-weight: bold;}

#zoneUpdate {font-size: 0.75rem;}

#zoneForm {
    margin-bottom: 2rem ;
    padding: 0.5rem;

    border: black solid 1px;
}

#zoneTxt {
    margin-top: 1rem;
}