/*---CSS par balise---*/
textarea {
    min-width: 100vh;
    min-height: 1vh;
}

/*---CSS par class---*/
.folderSideMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.folderTitle {
    text-align: left ;

    font-size: 0.75rem;
    color: white;
}

.categoryTitle {
    font-size: 0.75rem;

    color: white;
}

.btnSideMenu {
    padding: 0.25rem;

    font-size: 0.75rem;
}

/*--CSS par ID--*/

    /*---Main---*/
#main {
    margin: 0px;
    display: flex;
}

#zoneSideMenu {
    flex: 1;
    min-width: 7.5%;
    max-width: 7.5%;
    min-height: calc(100vh - 7vh);
    padding-left: 0.5rem;
    background-color: #3367cd;
}

#zoneEditor {
    margin: 1rem;
    width: 100%;
}

#zoneForm {
    margin-bottom: 2rem ;
    padding: 5px;

    border: black solid 1px;
}

#zoneTxt {
    margin-top: 1rem;
}